---
# tasks file for info_ios
- name: Collect Facts Manually
  cisco.ios.ios_facts:
    gather_subset: all
     
- name: Create Folder to Store System Info
  ansible.builtin.file:
    path: "{{ info_ios_dir }}"
    state: directory
    mode: '0755'
  notify:
    - Directory Created
     
- name: Print Facts for Cisco Device
  ansible.builtin.copy:
    dest: "{{ info_ios_dir }}/{{ inventory_hostname }}.txt"
    content: |
      API           = {{ ansible_net_api }}
      Hostname      = "{{ ansible_facts['net_hostname'] }}"
      Image         = "{{ ansible_facts['net_image'] }}"
      Serial Num    = "{{ ansible_facts['net_serialnum'] }}"
      Version       = "{{ ansible_facts['net_version'] }}"
      System        = "{{ ansible_facts['net_system'] }}"
      Model         = "{{ ansible_facts['net_model'] }}"
      Memory Free   = "{{ansible_facts['net_memfree_mb'] }}"
      Memory Total  = "{{ansible_facts['net_memtotal_mb'] }}"
  notify:
    - Information Collected

- name: Deploy configuration on IOS Step 1&2
  cisco.ios.ios_config:
    src: commands.j2
    save_when: changed
  notify:
    - Commands Fired

- name: Collect Single Device Info Template
  ansible.builtin.template:
    src: simple.j2
    dest: /var/www/html/info.html
  delegate_to: workstation.lab.example.com
  become: true
  notify:
    - Template Information Collected
